.users {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &-title {
    font-weight: bold;
  }

  &-item {
    color: var(--qwik-light-blue);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
